interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-app-config-url.azconfig.io/kv/FontColor?api-version=1.0
  response:
    body:
      string: '{"etag":"GbneY8mRS1fT2zXze3YiWk1Zkqb","key":"FontColor","label":null,"content_type":null,"value":"Green","tags":{},"locked":false,"last_modified":"2020-10-14T20:47:33+00:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"GbneY8mRS1fT2zXze3YiWk1Zkqb"
      last-modified:
      - Wed, 14 Oct 2020 20:47:33 GMT
      sync-token:
      - zAJw6V16=NDo0IzI3ODM1MjMjNz02ODQ0NTg=;sn=2783523
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-app-config-url.azconfig.io/kv/Greeting?api-version=1.0
  response:
    body:
      string: '{"etag":"kIakbeZdM5SiD8cLT8i8pm96vRo","key":"Greeting","label":null,"content_type":null,"value":"Hello
        World!","tags":{},"locked":false,"last_modified":"2020-10-05T22:16:21+00:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"kIakbeZdM5SiD8cLT8i8pm96vRo"
      last-modified:
      - Mon, 05 Oct 2020 22:16:21 GMT
      sync-token:
      - zAJw6V16=NDo0IzI3ODM1MjMjNz02ODQ0NTg=;sn=2783523
    status:
      code: 200
      message: OK
version: 1
