interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://sean-app-config-training.azconfig.io/kv/FontColor?api-version=1.0
  response:
    body:
      string: '{"etag":"JKFYdehaw1p3DGj90G6tpAvFg4X","key":"FontColor","label":null,"content_type":null,"value":"\\033[31m","tags":{},"locked":false,"last_modified":"2020-10-05T22:16:45+00:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"JKFYdehaw1p3DGj90G6tpAvFg4X"
      last-modified:
      - Mon, 05 Oct 2020 22:16:45 GMT
      sync-token:
      - zAJw6V16=NDo0IzI3MDYyOTQjNz02ODQ0NTg=;sn=2706294
    status:
      code: 200
      message: OK
version: 1
